<footer class="l-footer">
    <div class="l-footer__inner l-containerL">
        <a href="{{homeUrl}}" class="l-footer__logo-link"><img src="/Logo_text_H.svg" alt="一葉庵ロゴテキスト" class="l-footer__logo-img" /></a>
        <table class="l-footer__table">
            <tr class="l-footer__row">
                <th class="l-footer__table-heading">住所</th>
                <td class="l-footer__text">〒645-0974 京都府京都市東山区祇園町東側 658</td>
            </tr>
            <tr class="l-footer__row">
                <th class="l-footer__table-heading">電話番号</th>
                <td class="l-footer__text">0806<span class="u-symbol-up u-symbol-margin-LR">-</span>56<span class="u-symbol-up u-symbol-margin-LR">-</span>6540</td>
            </tr>
        </table>
        <ul class="l-footer__list">
            <li class="l-footer__item"><a href="{{homeUrl}}" class="l-footer__link">ホーム</a></li>
            <li class="l-footer__item"><a href="{{sweetsUrl}}" class="l-footer__link">和菓子一覧</a></li>
            <li class="l-footer__item"><a href="{{craftsmanshipUrl}}" class="l-footer__link">こだわり</a></li>
            <li class="l-footer__item"><a href="{{shopUrl}}" class="l-footer__link">店舗情報・アクセス</a></li>
            <li class="l-footer__item"><a href="{{contactUrl}}" class="l-footer__link">お問い合わせ</a></li>
        </ul>

        <ul class="l-footer__sns-list">
            <li class="l-footer__sns-item">
                <a href="#" class="l-footer__sns-link"><img src="src/assets/Instagram_Glyph_Black.png" alt="Instagramリンクボタン" class="l-footer__sns-img" width="32" height="32" /></a>
            </li>
            <li class="l-footer__sns-item">
                <a href="#" class="l-footer__sns-link"><img src="src/assets/x_logo-white_BG.png" alt="Xリンクボタン" class="l-footer__sns-img" width="32" height="32" /></a>
            </li>
            <li class="l-footer__sns-item">
                <a href="#" class="l-footer__sns-link"><img src="src/assets/Facebook_Logo_Secondary.png" alt="Facebookリンクボタン" class="l-footer__sns-img" width="32" height="32" /></a>
            </li>
        </ul>

        <small class="l-footer__copy">© ichiyoan</small>
    </div>
</footer>
