<header class="l-header">
    <div class="l-header__inner">
        <h1 class="l-header__logo">
            <a href="{{homeUrl}}" class="l-header__link">
                <picture>
                    <source media="(min-width: 768px)" srcset="/Logo_text_V.svg" />
                    <img src="/Logo_text_H.svg" alt="一葉庵ロゴテキスト" class="l-header__img" />
                </picture>
            </a>
        </h1>
        <div class="l-header__menu-bg"></div>
        <nav class="l-header__gnav" aria-hidden="true">
            <ul class="l-header__list">
                <li class="l-header__item"><a href="{{homeUrl}}" class="l-header__link {{#if (eq current 'home')}}l-header__link--active{{/if}}">ホーム</a></li>
                <li class="l-header__item"><a href="{{sweetsUrl}}" class="l-header__link {{#if (eq current 'sweets')}}l-header__link--active{{/if}}">和菓子一覧</a></li>
                <li class="l-header__item"><a href="{{craftsmanshipUrl}}" class="l-header__link {{#if (eq current 'craftsmanship')}}l-header__link--active{{/if}}">こだわり</a></li>
                <li class="l-header__item"><a href="{{shopUrl}}" class="l-header__link {{#if (eq current 'shop')}}l-header__link--active{{/if}}">店舗情報・アクセス</a></li>
                <li class="l-header__item"><a href="{{contactUrl}}" class="l-header__link {{#if (eq current 'contact')}}l-header__link--active{{/if}}">お問い合わせ</a></li>
            </ul>
            <img src="/wave.svg" alt="" class="l-header__wave" />
        </nav>
    </div>

    <button type="button" class="l-header__hamburger" aria-controls="drawer" aria-expanded="false">
        <span></span>
        <span></span>
    </button>
</header>
