@use "variables" as v;

/*
* フォント設定 ============================== */
@mixin setFont($font_style) {
    $fs_style: map-get(
        $map: v.$fs,
        $key: $font_style,
    );
    font-size: calc(map-get($map: $fs_style, $key: "fz") / 16 * 1rem);
    line-height: map-get($map: $fs_style, $key: "lh");
    letter-spacing: map-get($map: $fs_style, $key: "lts");
    font-weight: map-get($map: $fs_style, $key: "fw");
}

/*
* メディアクエリ ============================== */
@mixin media($width: 768) {
    @media screen and (min-width: #{$width}px) {
        @content;
    }
}

/*
* z-index ============================== */
@mixin zindex($index) {
    z-index: map-get($map: v.$z_map, $key: $index);
}
