@use "../global" as *;

.l-subpage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";

    @include media {
        grid-template-columns: 180px 1fr;
        grid-template-rows: max-content max-content;
        grid-template-areas:
            "header main"
            "footer footer";
    }
}
