@charset "UTF-8";
/*
* 色 ============================== */
/*
* フォント ============================== */
/*
* アニメーション時間 ============================== */
/*
* z-index ============================== */
/*
* フォント設定 ============================== */
/*
* メディアクエリ ============================== */
/*
* z-index ============================== */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Shippori Mincho B1", "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: normal;
  color: #000a02;
}

a {
  text-decoration: none;
  transition-duration: 0.3s;
}
a:hover {
  opacity: 0.6;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
textarea {
  outline: #000a02;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #bdbdbd;
}
input::placeholder,
textarea::placeholder {
  color: #bdbdbd;
}

.l-header {
  grid-area: header;
}

.l-hero {
  grid-area: hero;
}

.l-main {
  grid-area: main;
}

.l-footer {
  grid-area: footer;
}

.l-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1500;
  grid-area: header;
}
@media screen and (min-width: 768px) {
  .l-header {
    width: 180px;
    height: 100%;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
  }
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #dfdfdf;
  position: relative;
}
@media screen and (min-width: 768px) {
  .l-header__inner {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.l-header__logo {
  width: 93px;
  height: auto;
}
@media screen and (min-width: 768px) {
  .l-header__logo {
    width: 80px;
  }
}
.l-header__logo img {
  width: 100%;
  height: 100%;
}
.l-header__hamburger {
  display: block;
  width: 40px;
  height: 28px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2500;
}
@media screen and (min-width: 768px) {
  .l-header__hamburger {
    display: none;
  }
}
.l-header__hamburger span {
  height: 1px;
  background-color: #000a02;
  position: absolute;
  top: 10px;
  right: 0;
  transition-duration: 0.3s;
}
.l-header__hamburger span:nth-child(1) {
  width: 100%;
}
.l-header__hamburger span:nth-child(2) {
  top: 18px;
  width: 24px;
}
.l-header__hamburger.js-open-menu span {
  background-color: #f4f4f4;
}
.l-header__hamburger.js-open-menu span:nth-child(1) {
  top: 50%;
  width: 100%;
  rotate: -20deg;
}
.l-header__hamburger.js-open-menu span:nth-child(2) {
  top: 50%;
  width: 100%;
  rotate: 20deg;
}
.l-header__menu-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.7);
  position: fixed;
  inset: 0;
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}
.l-header__menu-bg.js-open-menu {
  opacity: 1;
  pointer-events: all;
}
.l-header__gnav {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 2000;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  top: -110%;
}
@media screen and (min-width: 768px) {
  .l-header__gnav {
    position: static;
    inset: auto;
  }
}
.l-header__gnav.js-open-menu {
  top: 0;
}
.l-header__list {
  background-color: #9d5b8b;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 49.2610837438%;
  padding-top: 80px;
}
@media (orientation: landscape) {
  .l-header__list {
    padding-top: 20px;
    flex-direction: row-reverse;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .l-header__list {
    flex-direction: column;
    background: none;
    color: #000a02;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: normal;
  }
}
@media (orientation: landscape) {
  .l-header__item {
    writing-mode: vertical-rl;
  }
}
@media screen and (min-width: 768px) {
  .l-header__item {
    writing-mode: horizontal-tb;
  }
}
.l-header__wave {
  width: 100vw;
  height: auto;
  translate: 0 -1px;
}
@media screen and (min-width: 768px) {
  .l-header__wave {
    display: none;
  }
}

.l-section {
  padding: 48px 0;
  background: url(src/assets/bg.png) rgba(157, 91, 139, 0.05);
  background-repeat: repeat;
  background-size: 180px 180px;
  background-position: left top;
  background-blend-mode: color-burn;
}
@media screen and (min-width: 768px) {
  .l-section {
    padding: 64px 0;
  }
}
.l-section--even {
  background: url(src/assets/bg.png) rgba(183, 40, 46, 0.05);
}
@media screen and (min-width: 768px) {
  .l-section--cta {
    padding: 80px 0;
  }
}

.l-containerL {
  width: 100%;
  max-width: 1012px;
  padding: 0 16px;
  margin: 0 auto;
}

.l-containerM {
  width: 72.380952381%;
  max-width: 912px;
  padding: 0 16px;
  margin: 0 auto;
}

.l-footer {
  padding: 48px 0;
  background-image: url(src/assets/seigaiha_greige.png);
  background-size: 360px 360px;
  background-position: left top;
  background-repeat: repeat;
  grid-area: footer;
}
@media screen and (min-width: 768px) {
  .l-footer {
    width: 100%;
  }
}
.l-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .l-footer__inner {
    gap: 48px;
  }
}
.l-footer__logo-link {
  display: block;
  width: 93px;
  height: auto;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .l-footer__logo-link {
    width: 180px;
  }
}
.l-footer__row {
  display: flex;
  gap: 16px;
}
.l-footer__row:last-of-type th,
.l-footer__row:last-of-type td {
  margin-top: 16px;
}
.l-footer__table-heading {
  width: 64px;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .l-footer__table-heading {
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: normal;
    width: 80px;
  }
}
.l-footer__text {
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .l-footer__text {
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: normal;
  }
}
.l-footer__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 32px;
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .l-footer__list {
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: normal;
    gap: 48px;
  }
}
.l-footer__item {
  writing-mode: vertical-rl;
}
.l-footer__sns-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.l-footer__sns-item {
  width: 32px;
  height: 32px;
}
@media screen and (min-width: 768px) {
  .l-footer__sns-item {
    width: 48px;
    height: 48px;
  }
}
.l-footer__copy {
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .l-footer__copy {
    font-size: 0.875rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: normal;
  }
}

.l-subpage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}
@media screen and (min-width: 768px) {
  .l-subpage {
    grid-template-columns: 180px 1fr;
    grid-template-rows: max-content max-content;
    grid-template-areas: "header main" "footer footer";
  }
}

/*  ==============================
* 見出し
============================== */
.c-headingL {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.2;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-headingL {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0.2;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .c-headingL--V-PC {
    writing-mode: vertical-rl;
    white-space: nowrap;
  }
}

.c-btn {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: #f4f4f4;
  background-color: #316745;
  padding: 16px;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .c-btn {
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
  }
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero" "header" "main" "footer";
  /*  ==============================
  * ヒーロー画像
  ============================== */
  /*  ==============================
  * 和菓子一覧
  ============================== */
  /*  ==============================
  * こだわり
  ============================== */
  /*  ==============================
  * 店舗情報・アクセス
  ============================== */
}
@media screen and (min-width: 768px) {
  .top {
    grid-template-columns: 180px 1fr;
    grid-template-rows: max-content max-content max-content;
    grid-template-areas: "hero hero" "header main" "footer footer";
  }
}
.top .p-hero {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/sweets_list_sp.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 768px) {
  .top .p-hero {
    background-image: url(/src/assets/sweets_list_pc04.jpg);
  }
}
.top .p-hero__catch {
  writing-mode: vertical-rl;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  line-height: 1;
  background-color: rgba(244, 244, 244, 0.7);
  padding: 16px;
  position: absolute;
  top: 76px;
  right: 16px;
}
@media screen and (min-width: 768px) {
  .top .p-hero__catch {
    top: 72px;
    right: 142px;
    padding: 32px 64px;
    font-size: 2.5rem;
  }
}
.top .p-sweets {
  position: relative;
  text-align: center;
  /*  ==============================
  * ボタンラッパー
  ============================== */
}
@media screen and (min-width: 768px) {
  .top .p-sweets__title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 64px;
    margin-right: 64px;
  }
}
.top .p-sweets__img {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .top .p-sweets__img {
    width: 800px;
    height: auto;
    margin-top: 40px;
  }
}
.top .p-sweets__desc {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .top .p-sweets__desc {
    position: absolute;
    background-color: rgba(244, 244, 244, 0.7);
    writing-mode: vertical-rl;
    width: auto;
    height: 264px;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 32px;
    margin-top: 0;
    top: 421px;
  }
}
.top .p-sweets .p-btn-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .top .p-sweets .p-btn-wrapper {
    max-width: 360px;
    margin: 180px 0 0 0;
  }
}
.top .p-sweets .p-btn-wrapper--lg {
  height: 80px;
}
@media screen and (min-width: 768px) {
  .top .p-sweets .p-btn-wrapper--lg {
    height: 88px;
  }
}
.top .p-craftsmanship {
  position: relative;
  /*  ==============================
  * ボタンラッパー
  ============================== */
}
.top .p-craftsmanship__title-wrapper {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .top .p-craftsmanship__title-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 64px;
    margin-right: 64px;
  }
}
.top .p-craftsmanship__img {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .top .p-craftsmanship__img {
    width: 800px;
    height: auto;
    margin-top: 40px;
  }
}
.top .p-craftsmanship__desc {
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .top .p-craftsmanship__desc {
    position: absolute;
    background-color: rgba(244, 244, 244, 0.7);
    writing-mode: vertical-rl;
    width: auto;
    height: 264px;
    white-space: normal;
    overflow-wrap: break-word;
    padding: 32px;
    margin-top: 0;
    top: 421px;
  }
}
.top .p-craftsmanship .p-btn-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .top .p-craftsmanship .p-btn-wrapper {
    max-width: 360px;
    margin: 180px 0 0 0;
  }
}
.top .p-craftsmanship .p-btn-wrapper--lg {
  height: 80px;
}
@media screen and (min-width: 768px) {
  .top .p-craftsmanship .p-btn-wrapper--lg {
    height: 88px;
  }
}
.top .p-shop {
  /*  ==============================
  * ボタンラッパー
  ============================== */
}
@media screen and (min-width: 768px) {
  .top .p-shop__inner {
    display: flex;
    flex-direction: row-reverse;
    padding: 64px 64px 0;
    gap: 64px;
    align-items: flex-start;
  }
}
.top .p-shop__table {
  width: 100%;
  margin: 0 auto;
}
.top .p-shop__caption {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: bold;
  text-align: center;
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .top .p-shop__caption {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 0;
  }
}
.top .p-shop__row {
  border-bottom: 1px solid #bdbdbd;
}
.top .p-shop__row:first-of-type th,
.top .p-shop__row:first-of-type td {
  padding-top: 0;
}
.top .p-shop__row:last-of-type {
  border-bottom: none;
}
.top .p-shop__row:last-of-type th,
.top .p-shop__row:last-of-type td {
  padding-bottom: 0;
}
.top .p-shop__table-heading {
  font-weight: normal;
  width: 23.3236151603%;
}
.top .p-shop__table-heading, .top .p-shop__text {
  padding: 16px 0;
}
.top .p-shop__map {
  margin-top: 48px;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}
@media screen and (min-width: 768px) {
  .top .p-shop__map {
    margin-top: 0;
    aspect-ratio: 600/338;
    height: auto;
  }
}
.top .p-shop .p-btn-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .top .p-shop .p-btn-wrapper {
    max-width: 360px;
    margin: 40px auto 0;
  }
}
.top .p-shop .p-btn-wrapper--lg {
  height: 80px;
}
@media screen and (min-width: 768px) {
  .top .p-shop .p-btn-wrapper--lg {
    height: 88px;
  }
}

/*  ==============================
    * ボタンラッパー
    ============================== */
.p-btn-wrapper {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-btn-wrapper {
    max-width: 480px;
  }
}
.p-btn-wrapper--lg {
  height: 80px;
}
@media screen and (min-width: 768px) {
  .p-btn-wrapper--lg {
    height: 88px;
  }
}

.sweets .p-sweets-list .c-headingL {
  margin-left: auto;
  margin-right: 64px;
}
@media screen and (min-width: 768px) {
  .sweets .p-sweets-list .c-headingL {
    writing-mode: horizontal-tb;
  }
}
@media screen and (min-width: 1024px) {
  .sweets .p-sweets-list .c-headingL {
    writing-mode: vertical-rl;
  }
}
@media screen and (min-width: 1024px) {
  .sweets .p-sweets-list .l-containerM {
    margin-right: 256px;
  }
}
.sweets .p-sweets-list__list {
  text-align: center;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media screen and (min-width: 1024px) {
  .sweets .p-sweets-list__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -207px;
    row-gap: 128px;
    -moz-column-gap: 17.5438596491%;
         column-gap: 17.5438596491%;
  }
}
.sweets .p-sweets-list__item {
  display: flex;
  flex-direction: column;
}
.sweets .p-sweets-list__title {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: bold;
  margin-top: 16px;
}
@media screen and (min-width: 1024px) {
  .sweets .p-sweets-list__title {
    font-size: 1.5rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
  }
}
.sweets .p-sweets-list__title--with-tag {
  margin-top: 24px;
}
.sweets .p-sweets-list__desc {
  margin-top: 16px;
  text-align: left;
}
.sweets .p-sweets-list__img-wrapper {
  order: -1;
  position: relative;
}
.sweets .p-sweets-list__tag {
  display: inline-block;
  background-color: #9d5b8b;
  padding: 6px 16px;
  border-radius: 32px;
  color: #f4f4f4;
  position: absolute;
  left: 50%;
  translate: -50% 50%;
  bottom: 0;
}

.u-symbol-up {
  display: inline-block;
  translate: 0 -0.075em;
}

.u-symbol-margin-LR {
  margin: 0 0.1em;
}/*# sourceMappingURL=style.css.map *