@charset "UTF-8";
/*
* 色 ============================== */
/*
* フォント ============================== */
/*
* アニメーション時間 ============================== */
/*
* z-index ============================== */
/*
* フォント設定 ============================== */
/*
* メディアクエリ ============================== */
/*
* z-index ============================== */
/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  font-family: "Shippori Mincho B1", "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0;
  font-weight: normal;
  color: #000a02;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
textarea {
  outline: #000a02;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: normal;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #bdbdbd;
}
input::placeholder,
textarea::placeholder {
  color: #bdbdbd;
}

.l-header {
  position: sticky;
  top: 0;
  left: 0;
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background-color: #dfdfdf;
  position: relative;
  z-index: 1500;
}
.l-header__logo {
  width: 93px;
  height: auto;
}
.l-header__logo img {
  width: 100%;
  height: 100%;
}
.l-header__hamburger {
  display: block;
  width: 40px;
  height: 28px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2500;
}
.l-header__hamburger span {
  height: 1px;
  background-color: #000a02;
  position: absolute;
  top: 10px;
  right: 0;
  transition-duration: 0.3s;
}
.l-header__hamburger span:nth-child(1) {
  width: 100%;
}
.l-header__hamburger span:nth-child(2) {
  top: 18px;
  width: 24px;
}
.l-header__hamburger.js-open-menu span {
  background-color: #f4f4f4;
}
.l-header__hamburger.js-open-menu span:nth-child(1) {
  top: 50%;
  width: 100%;
  rotate: -20deg;
}
.l-header__hamburger.js-open-menu span:nth-child(2) {
  top: 50%;
  width: 100%;
  rotate: 20deg;
}
.l-header__menu-bg {
  width: 100%;
  height: 100vh;
  background-color: rgba(244, 244, 244, 0.7);
  position: fixed;
  inset: 0;
  transition-duration: 0.3s;
  opacity: 0;
}
.l-header__menu-bg.js-open-menu {
  opacity: 1;
}
.l-header__gnav {
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 2000;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  top: -110%;
}
.l-header__gnav.js-open-menu {
  top: 0;
}
.l-header__list {
  background-color: #9d5b8b;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  height: 400px;
  padding-top: 80px;
}
.l-header__wave {
  width: 100vw;
  height: auto;
  translate: 0 -1px;
}

.l-section {
  padding: 48px 0;
  background: url(src/assets/bg.png) rgba(157, 91, 139, 0.05);
  background-repeat: repeat;
  background-size: 180px 180px;
  background-position: left top;
  background-blend-mode: color-burn;
}
@media screen and (min-width: 768px) {
  .l-section {
    padding: 64px 0;
  }
}
@media screen and (min-width: 768px) {
  .l-section--cta {
    padding: 80px 0;
  }
}

.l-containerL {
  width: 100%;
  max-width: 1012px;
  padding: 0 16px;
  margin: 0 auto;
}

/*  ==============================
* 見出し
============================== */
.c-headingL {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0.2;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .c-headingL {
    font-size: 3.5rem;
    line-height: 1;
    letter-spacing: 0.2;
    font-weight: 600;
    writing-mode: vertical-rl;
  }
}

.c-btn {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
  font-weight: bold;
  display: grid;
  place-content: center;
  color: #f4f4f4;
  background-color: #316745;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .c-btn {
    font-size: 1.125rem;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
  }
}

.top {
  /*  ==============================
  * ヒーロー画像
  ============================== */
  /*  ==============================
  * 和菓子一覧
  ============================== */
}
.top .p-hero {
  width: 100%;
  height: 100vh;
  background-image: url(/src/assets/sweets_list_sp.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
.top .p-hero__catch {
  writing-mode: vertical-rl;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  line-height: 1;
  background-color: rgba(244, 244, 244, 0.7);
  padding: 16px;
  position: absolute;
  top: 76px;
  right: 16px;
}
.top .p-sweets__img {
  margin-top: 24px;
}
.top .p-sweets__desc {
  margin-top: 24px;
}
.top .p-btn-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .top .p-btn-wrapper {
    max-width: 360px;
  }
}/*# sourceMappingURL=style.css.map */